body
{
 color: green;
 text-align: center;
 font-family: "Georgia";
}

.container{
    width: 70%;
    text-align: center;
    border: 5px solid gray;
    margin: 0 auto;
    margin-top: 40px;
}

#cabecera{
    margin: 0 auto;
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 10px;
    padding-left: 10px;
    background-color: blue;
}
#cabecera p{
    margin: 1 auto;
}
