body
{
 color: green;
 text-align: center;
 font-family: "Georgia";
}

.container{
    width: 70%;
    text-align: center;
    border: 8px solid gray;
    border-radius: 10%;
    margin: 0 auto;
    padding: 10px;
}

#cabecera{
    
}
#cabecera p{
    
}